<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knstech.apnaopd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Volley.VolleySingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Patient.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Patient.DoctorViewerActivity" />
        <activity android:name=".Patient.DoctorListActivity" />
        <activity android:name=".Patient.DoctorAppointmentActivity" />
        <activity android:name=".Patient.HomeActivity">


        </activity>
        <activity
            android:name=".Patient.MedicineActivity"
            android:parentActivityName=".Patient.HomeActivity" />
        <activity
            android:name=".Retailer.RetailerActivity"
            android:parentActivityName=".Patient.HomeActivity" />
        <activity
            android:name=".Retailer.ListOfPrescriptionActivity"
            android:parentActivityName=".Retailer.RetailerActivity" />
        <activity android:name=".Doctor.DAppointmentViewerActivity" />

        <activity
            android:name=".Retailer.RetailerOfferSendActivity"
            android:parentActivityName=".Retailer.RetailerActivity" />
        <activity android:name=".Patient.PatientFinalDrugAcceptActivity" />
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".Profile.AddressActivity"
            android:parentActivityName=".Patient.HomeActivity" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:parentActivityName=".Patient.HomeActivity" />
        <activity
            android:name=".Doctor.DoctorHomeActivity"
            android:parentActivityName=".Patient.HomeActivity" />
        <activity android:name=".Patient.ConfirmBookingActivity" />
        <activity android:name=".Doctor.DoctorSlotViewerActivity" />
        <activity android:name=".Doctor.DaySelectActivity" />
        <activity
            android:name=".AddNewProfileActivity"
            android:parentActivityName=".Patient.HomeActivity" />

        <activity android:name=".Patient.OrderActivity" />
        <activity android:name=".Patient.ShowDetailsOfOfferActivity" />
        <activity android:name=".Patient.ListOfOrderActivity"></activity>

        <activity android:name=".Doctor.TimeSlotAppointmentViewer" />
        <activity android:name=".Patient.PAppointmentViewerActivity"></activity>
    </application>

</manifest>